img{
  max-width: 100%; /*lo max que puede alcanzar*/
  /*width: 100%; Toma el ancho del navegador*/
  height: auto;
}

.imagen{
  width: 50%;
  height: 400px;
  background-image: url("../img/img1.jpg");
  background-repeat: no-repeat; /*no repitas la imagen*/
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}

.gradiente{
  width: 300px;
  height: 300px;
  background: linear-gradient(red, yellow, blue);
  background: linear-gradient(to right,red, yellow, blue);
  background: linear-gradient(to right,red, yellow, blue, purple, green, brown, pink, orange);
  background: linear-gradient(to bottom right,red, yellow, blue, purple, green, brown, pink, orange);
}
/*3 TIPOS DE transformacion
ESCALAR
TRASLACION
ROTACION */
.transformacion{
  width: 100px;
  height: 100px;
  background-color: yellow;
  transform: translate(500px, 200px);
}

.transformacion1{
  width: 100px;
  height: 100px;
  background-color: yellow;
  transform: rotate(45deg);
}

.transformacion1{
  width: 100px;
  height: 100px;
  background-color: yellow;
  transform: scale(2, 3)
  rotate(20deg)
  translate(200px, 100px);
}

.transicion{
  width: 100px;
  height: 100px;
  background-color: pink;
  transition: 3s; /*tiempo en que tarde en cambiar*/
  /*transition-delay: 2; /*tiempo de espera antes de que empieze la transicion*/
}

.transicion:hover{
  background-color: yellow;
  height: 150px;
  transform: rotate(360deg);

}

.animacion{
  width: 100px;
  height: 100px;
  background-color: rgb(80, 242, 121);
  animation-name: animacion; /*llama a keyframe animacion*/
  animation-duration: 5s;
  animation-iteration-count: infinite; /*o 5s*/
}

/*DECLARAR UN KEYFRAME*/
@keyframes animacion {
  from{
    background-color: blue;
  }
  to{
    background-color: purple;
  }
}

.animacion1{
  width: 100px;
  height: 100px;
  background-color: rgb(80, 242, 121);
  animation-name: animacion1; /*llama a keyframe animacion*/
  animation-duration: 5s;
  animation-iteration-count: infinite; /*o 5s*/
}

/*DECLARAR UN KEYFRAME*/
@keyframes animacion1 {
  /*para hacer esto es necesario que tenga una duracion la animacion*/
0%{background-color: blue;}
20%{background-color: green; width: 150px;}
40%{background-color: yellow;}
60%{background-color: orange; height: 150px;}
80%{background-color: pink;}

}
